.container-principal-equipe {
  position: relative;
}

.container-principal-equipe::before, 
.container-principal-equipe::after {
 content: "";
 display: block;
 width: 39px;
 height: 750px;
 background-image: url(../img/bg-lados.png);
 position: absolute;
 top: 20px;
 background-position: center;
 background-size: cover;
 z-index: -1;
 background-repeat: no-repeat;
}

.container-principal-equipe::before {
  left: 0;
  top: 20px;
  transform: rotate(180deg);
}

.container-principal-equipe::after {
  right: 0;
  top: 20px;
}
.img-ondulada-container {
  position: relative;
  text-align: center;
  color: white;
  height: 300px;
  margin-top: 60px;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.equipe-h1 {
  font-family: 'Barlow-Medium';
  font-size: 36px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.equipe h1 {
  font-family: 'Barlow-Medium';
  font-size: 36px;
  color: #5E8402;
  text-align: center;
  text-transform: uppercase;
}
.equipe p{
  font-family: 'Barlow-Regular';
  font-size: 21px;
  color: #707070;
}

.nome-autor{
  font-family: 'Barlow-Bold';
  color: #5E8402;
}

.profissao{
  font-family: 'Barlow-Regular';
  color: #707070;
}

.email{
  font-family: 'Barlow-Regular';
  color: #707070;
}
.carousel-timeline.owl-carousel .owl-item img {
  width: 50%;
  padding: 20px;
  margin: 0 auto;
}

.carousel-timeline .owl-carousel .owl-item.center img {
  width: 100%;
  margin: 0 auto;
  height: 40px;
}

.carousel-timeline .owl-stage {
  display: flex;
  align-items: center;
}

.carousel-timeline .owl-stage {
  margin: 10px auto;
}

.carousel-timeline .teste {
  height: 100%;
  text-align: center;
}

.carousel-timeline .teste .teste1{
  display: none;
}

.carousel-timeline .owl-item.active.center {
  z-index: 9;
}

.carousel-timeline .owl-item.active.center figure {
  transform: scale(1.3);
  opacity: 1;
  min-height: 240px;
}

.carousel-timeline .owl-item.active.center .teste .teste1{
  display: block;
}

.owl-theme.carousel-timeline .owl-nav {
  top: calc(50% - 30px);
  margin-top: 0;
}
.owl-theme .owl-nav [class*=owl-] span {
  font-size: 50px;
}
.owl-theme .owl-nav [class*=owl-] {
  outline: none;
  background-color: transparent!important;
  margin: 15px !important;
  line-height: 20px!important;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
  color: #5E8402;
}
.owl-theme .owl-nav [class*="owl-"] {
  outline: none;
  background-color: transparent !important;
  margin: 10 !important;
  line-height: 0px !important;
}

.owl-theme .owl-nav [class*="owl-"] span {
  font-size: 32px;
  color: #5E8402;
}

/*MENU DESKTOP*/
@media only screen and (min-width: 1190px) {
  .logo-mobile{
    display: none;
  }
  .openSidebarMenu {
    display: none;
  }
  .menu-topo {
    padding: 25px 140px;
  }
  .menu-topo.menu-fixed {
    padding-top: 22px;
    padding-bottom: 22px;
  }
  .nav-menu{
    width: 70%;
    transition: .4s;
  }

  .nav-menu ul{
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    display: flex;
    align-content: center;
    justify-content: space-between;
  }

  .nav-menu li:last-child {
    border-right: none;
  }
  .nav-menu a{
    font-family: 'Barlow-Medium';
    font-size: 17px;
    color: #fff;
    text-decoration: none;
  }

  .logo img {
    width: 140px;
  }
}


@media only screen and (max-width: 1189px) {
  .logo {
    display: none;
  }

  .container-principal-equipe::before, 
  .container-principal-equipe::after{
    display: none;
  }
  .menu-topo {
    padding: 25px 35px;
    height: 100px;
  }
  .nav-menu {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #5E8402;
    transform: translateX(-100%);
    transition: transform 250ms ease-in-out;
    padding: 60px 35px;
  }

  .nav-menu li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 0;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    font-family: 'Barlow-Medium';
    font-size: 15px;
  }
  .nav-menu li a{
    color: #fff;
    text-decoration: none;
  }

  input[type="checkbox"]:checked ~ .nav-menu {
    transform: translateX(0);
  }

  input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
  }
  .sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99999;
    height: 100%;
    width: 100%;
    top: 40px;
    height: 17px;
    width: 25px;
  }
  .spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
  }
  .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    margin-top: 3px;
  }
  .diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
  }
  .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    margin-top: 3px;
  }
  input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
  }
  input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
  }
  input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
  }
  .img-ondulada-container {
    height: auto;
    margin-top: 0;
    padding-top: 100px;
  }
  .centered{
    top: 70%;
  }
  .equipe-h1 {
    font-size: 16px;
    font-family: 'Barlow-Bold';
  }
  .logo-mobile img{
    width: 110px;
    height: 46px;
  }

  h1.logo-mobile{
    text-align: center;
  }

}

@media (max-width: 1024px) {
  .owl-carousel.carousel-timeline .owl-stage:before {
    top: 185px;
  }
}

@media (max-width: 991px) {
  .owl-item.active.center figure {
    flex-direction: column;
    align-items: center;
  }
  .owl-carousel .owl-item.center img, .owl-carousel .owl-item img {
    margin-bottom: 10px;
  }
  .owl-carousel.carousel-timeline {
    height: 100%;
  }
}

@media (max-width: 768px) {
  .owl-carousel.carousel-timeline .owl-stage:before {
    top: 100px;
    left: 70px;
  }
  .owl-item.active.center figure, .owl-carousel .owl-item figure {
    transform: none;
    max-width: 75%;
    transition: none;
    margin: 0 auto;
  }
  .owl-item .datamaster, .owl-item.center .datamaster {
    z-index: 99;
  }
  .owl-theme.carousel-timeline .owl-nav {
    top: calc(50% - 30px);
    margin-top: 0;
  }
  .owl-theme .owl-nav [class*=owl-] span {
    font-size: 32px;
  }
  .owl-theme .owl-nav [class*=owl-] {
    outline: none;
    background-color: transparent!important;
    margin: 0!important;
    line-height: 20px!important;
  }
  .owl-theme .owl-nav [class*="owl-"]:hover {
    color: #5E8402;
  }
  .owl-theme .owl-nav [class*=owl-] {
    outline: none;
    background-color: transparent!important;
    margin: 15px !important;
    line-height: 20px!important;
  }
}