.container-principal-sobre {
    position: relative;
}

.container-principal-sobre::before,
.container-principal-sobre::after {
    content: "";
    display: block;
    width: 85px;
    height: 1640px;
    top: 80px;
    background-image: url(../img/bg-lados.png);
    position: absolute;
    background-position: center;
    background-size: cover;
    z-index: -1;
    background-repeat: no-repeat;
}

.container-principal-sobre::before {
    left: 0;
    top: 120px;
    transform: rotate(180deg);
}

.container-principal-sobre::after {
    top: 250px;
    right: 0;
}

.img-ondulada-container {
    position: relative;
    text-align: center;
    color: white;
    height: 300px;
    margin-top: 60px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sobre-h1 {
    font-family: 'Barlow-Medium';
    font-size: 36px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

/*conteudo sobre*/

p {
    font-family: 'Barlow-Regular';
    font-size: 21px;
    color: #707070;
}

.sobre p {
    font-family: 'Barlow-Regular';
    font-size: 21px;
    color: #707070;
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 15;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.sobre h1{
    font-family: 'Barlow-Bold';
    font-size: 36px;
    color: #5E8402;
    text-transform: uppercase;
    text-align: center;
}

.sobre li {
    list-style: none;
}

.historia img {
    width: 635px;
    height: 415px;
} 

li.imagem img {
    width: 381px;
    height: 513px;
}

/*MENU DESKTOP*/
@media only screen and (min-width: 1190px) {
    .logo-mobile {
        display: none;
    }

    .openSidebarMenu {
        display: none;
    }

    .menu-topo {
        padding: 25px 140px;
    }

    .menu-topo.menu-fixed {
        padding-top: 22px;
        padding-bottom: 22px;
    }

    .nav-menu {
        width: 70%;
        transition: .4s;
    }

    .nav-menu ul {
        list-style-type: none;
        margin: 0;
        overflow: hidden;
        padding: 0;
        display: flex;
        align-content: center;
        justify-content: space-between;
    }

    .nav-menu li:last-child {
        border-right: none;
    }

    .nav-menu a {
        font-family: 'Barlow-Medium';
        font-size: 16px;
        color: #fff;
        text-decoration: none;
    }

    .logo img {
        width: 140px;
    }
    figure.img-mascara {
        height: 720px;
    }
}


@media only screen and (max-width: 1189px) {
    .logo {
        display: none;
    }

    .container-principal-sobre{
        display: none;
    }

    .menu-topo {
        padding: 25px 35px;
        height: 100px;
    }

    .nav-menu {
        width: 100%;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #5E8402;
        transform: translateX(-100%);
        transition: transform 250ms ease-in-out;
        padding: 60px 35px;
    }

    .nav-menu li {
        list-style: none;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        padding: 15px 0;
        cursor: pointer;
        border-bottom: 1px solid rgba(255, 255, 255, 0.10);
        font-family: 'Barlow-Medium';
        font-size: 15px;
    }

    .nav-menu li a {
        color: #fff;
        text-decoration: none;
    }

    input[type="checkbox"]:checked~.nav-menu {
        transform: translateX(0);
    }

    input[type=checkbox] {
        transition: all 0.3s;
        box-sizing: border-box;
        display: none;
    }

    .sidebarIconToggle {
        transition: all 0.3s;
        box-sizing: border-box;
        cursor: pointer;
        position: absolute;
        z-index: 99999;
        height: 100%;
        width: 100%;
        top: 40px;
        height: 17px;
        width: 25px;
    }

    .spinner {
        transition: all 0.3s;
        box-sizing: border-box;
        position: absolute;
        height: 3px;
        width: 100%;
        background-color: #fff;
    }

    .horizontal {
        transition: all 0.3s;
        box-sizing: border-box;
        position: relative;
        margin-top: 3px;
    }

    .diagonal.part-1 {
        position: relative;
        transition: all 0.3s;
        box-sizing: border-box;
    }

    .diagonal.part-2 {
        transition: all 0.3s;
        box-sizing: border-box;
        position: relative;
        margin-top: 3px;
    }

    input[type=checkbox]:checked~.sidebarIconToggle>.horizontal {
        transition: all 0.3s;
        box-sizing: border-box;
        opacity: 0;
    }

    input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-1 {
        transition: all 0.3s;
        box-sizing: border-box;
        transform: rotate(135deg);
        margin-top: 8px;
    }

    input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-2 {
        transition: all 0.3s;
        box-sizing: border-box;
        transform: rotate(-135deg);
        margin-top: -9px;
    }

    .img-ondulada-container {
        height: auto;
        margin-top: 0;
        padding-top: 100px;
    }
    .centered{
        top: 70%;
    }

    .sobre-h1 {
        font-size: 16px;
        font-family: 'Barlow-Bold';
    }

    .logo-mobile img {
        width: 110px;
        height: 46px;
    }

    h1.logo-mobile {
        text-align: center;
    }
    .historia img {
        width: 100%;
    }
    li.imagem img {
        height: 260px;
        width: 287px;
    }
    .sobre h1 {
        font-size: 26px;
    }
}